/*   ========== ========== Google Fonts ==========  ==========  */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);


/*   ========== ========== Root ==========  ==========  */

:root
{
  --color-white: #FFFFFF;
  --color-white-light: #FFF8EE;
  --color-gray: #999D9E;
  --color-border-gray: rgba(255, 255, 255, 0.2);
  --color-dark: #1C1D20;
  --color-dark-dark: #000000;
  --color-subtitle: #bb7330;
  --color-subtitle-rgba: rgba(172, 107, 52, 0.9);
  --color-title: #B39565;
}

/*   ========== ========== Base ==========  ==========  */

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body
{
  font-family: 'Josefin Sans', sans-serif;
  background: var(--color-dark-dark);
}

/*   ========== ========== Media ==========  ==========  */

@media (max-width: 991px)
{
  .header__section
  {
    padding: 150px 20px;
  }

  .nav__container
  {
    padding: 20px;
  }

  .nav__item
  {
    display: none;
  }

  .nav__item.active
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav__link
  {
    margin: 10px 0;
  }

  .nav__links
  {
    margin-left: 0;
    font-size: 2em;
  }

  .toggle
  {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: var(--color-title) url(../Content/Navigation/grid.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10;
    border-radius: 2px;
  }

  .toggle.active
  {
    background: var(--color-title) url(../Content/Navigation/exit.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__img
  {
    max-width: 90%;
  }

  .hero__title
  {
    font-size: 2.5em;
  }
}

@media (max-width: 600px)
{
  .header__img
  {
    opacity: 0.4 !important;
  }
}